// Text color #FF0000 to button tags
// When the user hovers over button tags, text color should change to #00FF00

$red: #FF0000;
$green: #00FF00;
button {
    color: $red;
    &:hover {
        color: $green; }
 }